In [1]:
#test notebook

In [6]:
#Import libraries

import pandas as pd
import numpy as np

## Import data

In [7]:
Unemployement_data = pd.read_csv('../../task-1-datasets/Unemployment_Rate.csv', parse_dates=['Date'])

## Data Analysis

In [9]:
Unemployement_data.shape

(1766, 6)

In [11]:
Unemployement_data.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
0,Andhra Pradesh,2016-01-31,M,17.91,20626291,62.67
1,Andhra Pradesh,2016-02-29,M,9.98,19334918,53.50
2,Andhra Pradesh,2016-03-31,M,10.72,19646970,54.73
3,Andhra Pradesh,2016-04-30,M,5.51,18929583,49.76
4,Andhra Pradesh,2016-05-31,M,6.29,21163390,56.02

In [15]:
#date range
date_range = str(Unemployement_data['Date'].dt.date.min()) + ' to ' +str(Unemployement_data['Date'].dt.date.max())
print(date_range)

2016-01-31 to 2021-06-30

In [18]:
Unemployement_data.isna().sum()

Region                                     0
Date                                       0
Frequency                                  0
Estimated Unemployment Rate (%)            0
Estimated Employed                         0
Estimated Labour Participation Rate (%)    0
dtype: int64